
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FCA Rewards - Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="css/admin.css" rel="stylesheet" />

    <!-- Custom styles for Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $('#accordion').collapse({
            toggle: false
        })
    </script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " role="navigation">
        <div class="container">
            <a href="#" class="brand-logo">
<img src="images/FCA-mast-logo.jpg" /></a>

            <div class="navbar-header">

                <ul class="nav">
                    <li class="nav-item ">
                        Welcome, <a class="utility-nav active" href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/ccpbe-bootstrap.html#">Brian Johnson</a>
                    </li>
                    <li class="nav-item">
                        <a class="utility-nav active" href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/ccpbe-bootstrap.html#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="utility-nav" href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/ccpbe-bootstrap.html#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="utility-nav" href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/ccpbe-bootstrap.html#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="utility-nav disabled" href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/ccpbe-bootstrap.html#">Logout</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.container -->
    </nav>

    <section id="admin" class="admin-section">
        <div class="container admin-container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Admin</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3>Amend By</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">

                            <div class="box">
                                <h4>Individual</h4>
                                <label>Enter SID/TID</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="box">
                                <h4>Group</h4>
                                <label>Position Code</label>
                                <select class="form-control">
                                    <option value="0">Select Group</option>
                                    <option value="1">Group 1</option>
                                    <option value="2">Group 2</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h3>Choose view</h3>
                            <select class="form-control">
                                <option value="1">Executive</option>
                                <option value="2">BC</option>
                                <option value="3">District</option>
                                <option value="4">Dealer</option>
                                <option value="5">Manager</option>
                                <option value="6">Participant</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3>Tile Selection</h3>
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">

                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="mser" />
                                                    <label for="mser">MSER</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-opt1" />
                                                        <label for="mser-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-opt2" />
                                                        <label for="mser-opt2">Excellence Cards Awards MTD</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-opt3" />
                                                        <label for="mser-opt3">Excellence Cards Awards YTD</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">

                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="mser-graph" />
                                                    <label for="mser-graph">MSER Graph</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt1" />
                                                        <label for="mser-graph-opt1">uConnect</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt2" />
                                                        <label for="mser-graph-opt2">wiAdvisor</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt3" />
                                                        <label for="mser-graph-opt3">Express Lane</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt4" />
                                                        <label for="mser-graph-opt4">Parts Counter</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt5" />
                                                        <label for="mser-graph-opt5">Magenti Marelli</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt6" />
                                                        <label for="mser-graph-opt6">MVP</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="mser-graph-opt7" />
                                                        <label for="mser-graph-opt7">Mopar Parts</label>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="top-tech" />
                                                    <label for="top-tech">Top Tech</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="accordion-control">
                                                    +
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-tech-opt1" />
                                                        <label for="top-tech-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-tech-opt2" />
                                                        <label for="top-tech-opt2">Count of Surveys QTD</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-tech-opt3" />
                                                        <label for="top-tech-opt3">Top Performers</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-tech-opt4" />
                                                        <label for="top-tech-opt4">Average Quarterly Survey Score</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="top-advisor" />
                                                    <label for="top-advisor">Top Advisor</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-advisor-opt1" />
                                                        <label for="top-advisor-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-advisor-opt2" />
                                                        <label for="top-advisor-opt2">Count of Surveys QTD</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-teadvisorch-opt3" />
                                                        <label for="top-advisor-opt3">Incentive Eligible Advisors</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="top-advisor-opt4" />
                                                        <label for="top-advisor-opt4">Average Quarterly Survey Score</label>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFive">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="ttag" />
                                                    <label for="ttag">Top Tech/Advisor Graph</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="ttag-opt1" />
                                                        <label for="ttag-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="ttag-opt2" />
                                                        <label for="ttag-opt2">Count of Surveys QTD</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="ttag-opt3" />
                                                        <label for="ttag-opt3">Incentive Eligible Advisors</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="ttag-opt4" />
                                                        <label for="ttag-opt4">Average Quarterly Survey Score</label>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingSix">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="retention" />
                                                    <label for="retention">Retention</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retentionopt1" />
                                                        <label for="retention-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-opt2" />
                                                        <label for="retention-opt2">Count of Surveys QTD</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-opt3" />
                                                        <label for="retention-opt3">Incentive Eligible Advisors</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-opt4" />
                                                        <label for="retention-opt4">Average Quarterly Survey Score</label>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingSeven">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="retention-graph" />
                                                    <label for="retention-graph">Retention Graph</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <label class="lbl-sm">Attributes</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-graph-opt1" />
                                                        <label for="retention-graph-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-graph-opt2" />
                                                        <label for="retention-graph-opt2">Count of Surveys QTD</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-graph-opt3" />
                                                        <label for="retention-graph-opt3">Incentive Eligible Advisors</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="retention-graph-opt4" />
                                                        <label for="retention-graph-opt4">Average Quarterly Survey Score</label>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                
            </div>
           
        </div>
    </section>

    
</body>
</html>