/* Custom Stylesheet */

body{
	background-color:#f1f1f1!important;
}

nav .brand-logo {
	color: #444;
	display: block;
	float: left;
	width:400px;
  
}
.nav{
	float:right;
}
nav .nav-item{
	font-size:.75em;
}
.brand-logo img{

  width:100%;
  height:auto;
}
.navbar-header{
	float:right;
	width:400px;
	text-align:right;
}
.utility-nav {
    padding: 6px;
}
.navbar-toggleable-md > .container {

    display: block!important;
  
}
/* Admin */
#admin {
    margin-top:150px;
}
.admin-right-col{
    margin-top:3em;
    font-size:0.8em;
    color:#898989;
}
.admin-right-col h4{
    font-weight:400;
    
    font-size:1.1em;
}
.admin-container h3{
        font-size: 1.2em;
        margin:1em 0;
        color:#898989;
        font-weight:400;
}
.admin-container{
    background:#fff;
    padding-top:2em;
    padding-bottom:2em;
}
.box{
    border: 3px solid#d7d7da;
    padding: 10px;
    margin: 30px 0 10px 0;
}
.box h4{
        font-size: 16px;
    margin-top: -22px;
    background: #fff;
    /*float: left;*/
    padding: 0 7px;
    color:#222;
}
.box label{
    display:block;
    float:left;
    width:100%;
        font-size: 0.8em;
    color: #898989;
    margin-top:10px;
}
.lbl-sm{
        display:block;
    float:left;
    width:100%;
        font-size: 0.8em;
    color: #898989;
    margin-top:10px;
}
.card-block .label-sm{
    margin-top:0;
}
h1{
    font-size:1.4em;
}
.admin-box{
    background:#fff;
    margin:1em 0;
}
#accordion{
    padding:1em 0;
}
#accordion .card{
    border-radius:0;
}
#accordion .card-header label{
    float:left;
    width:80%;
}
#accordion a.accordion-control{
    background: #0275d8;
    padding: 5px;
    float: right;
margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    text-decoration:none;
}
#accordion a.accordion-control:hover{
    text-decoration:none;
    background:#0067bf;
}
.card-header{
    padding:0;
}
.card-block .checkbox{
    padding:0.2em;
}

#project-icon {
  height: auto;
  max-width: 187px;
  margin-top:10px;
}

#project-description {
  margin: 0;
  padding: 0;
}

.ui-autocomplete-input{
  padding: 0px 5px;
  font-size:14px;
}
/**/
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {

}


/* Menu System for Sull Browser */
    /* full width horizontal submenus */
#nav .menu_normal li {
    position: static !Important;
}

#nav .menu_normal .sub-menu  {
    left: 0 !Important;
    right: 0 !Important;
}

#nav .menu_normal .sub-menu > li {
    float: left !Important;
}

#nav .menu_normal .label_holder {
    width: auto !Important;
}


    /* add vertical separator between submenu items */
#nav .menu_normal .sub-menu > li {
    border-left: 1px solid #4f4d49;
}
#nav .menu_normal .sub-menu > li:first-child {
    border-left: 0;
}

#nav{
	height:165px;
	
}

.chart-controls{
	float: right;
	height: auto;
	padding: 6px;
	position: relative;
	text-align: right
}


.navbar {
	color: #222;
	background-color: #fff;
	width: 100%;
	/* height: 100px; */
	line-height: 56px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


/* Footer */
.extra-links {
    background-color: #536ea4;
    border: 1px solid #fff;
    padding: 15px;
}
.extra-links ul {
    margin: 6px;
}
.blue {
    background-color: #6382c0 !important;
}

footer.page-footer {
    background-color: #ee6e73;
    margin-top: 20px;
    padding-top: 20px;
}

footer.page-footer .footer-copyright {
    background-color: rgba(51, 51, 51, 0.08);
    color: rgba(255, 255, 255, 0.8);
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.white-text {
    color: #ffffff !important;
}
.grey-text {
    color: #9e9e9e !important;
}

/* Collections */
ul:not(.browser-default) {
    list-style-type: none;
    padding-left: 0;
}
.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  width: 95%;
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative;
}

.collection .collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

.collection .collection-item.avatar .title {
  font-size: 16px;
}

.collection .collection-item.avatar p {
  margin: 0;
}

.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}

.collection .collection-item:last-child {
  border-bottom: none;
}

.collection .collection-item.active {
  background-color: #26a69a;
  color: #eafaf9;
}

.collection .collection-item.active .secondary-content {
  color: #fff;
}

.collection a.collection-item {
  display: block;
  transition: .25s;
  color: #26a69a;
}

.collection a.collection-item:not(.active):hover {
  background-color: #ddd;
}

.collection.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 20px;
}

.collection-header h5{
	color:#5b88db !important;
	padding: 10px 10px 10px 20px;
}

.collection.with-header .collection-item {
  padding-left: 30px;
}

.collection.with-header .collection-item.avatar {
  padding-left: 72px;
}

.glyphicon-envelope{
	color:#222;
	display:block;	
}
.h4, h4 {
    font-size: 1.1em!important;
	margin:4px;
	padding:4px;
	color:#6382c0;
}
/* list styles */
.list-group-item > .badge {
    float: right;
}
.list-group-item > .itme-title {
    float: left;
}
.list-group-item {
padding: 0.45em;
    display: block!important;
}
.badge {
	background-color: #6382c0;
}



/********************/

.checkbox {
  padding-left: 20px;
  line-height:15px;
  padding:0.75rem 1.25rem;
  margin-left:10px;
  
}
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #0275d8;
  border-color: #0275d8; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }