<div class="container">
    <div class="col-md-6 ">
        <div class="row">
            <div class="panel panel-info panel-login">
                <div class="panel-body">
                    <form #f="ngForm"  action="services/userprofile" method = "post">
                    
                    <!--<form #f="ngForm"  novalidate (ngSubmit)=" f.valid && login()">
                        <div id="loginbox" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">-->
                            <div class="form-textbox">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <!--<input type="text" class="form-control" name="username" [(ngModel)]="user.username"  #username="ngModel" placeholder="User ID">
                                   -->
                                   
                                    <input type="text" class="form-control" name="id" [(ngModel)]="user.username"  #id="ngModel" placeholder="User ID">
                                   
                                   
                                    <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre> required minlength="4" maxlength="8"-->
                                </div>
                            </div>
                            <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
                                        Username is required (minimum 5 characters).
                                    </small>
                            <div class="form-textbox">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <!--<input type="password" class="form-control" name="password" [(ngModel)]="user.password" required validateEqual="confirmPassword" reverse="true" #password="ngModel" placeholder="Password">-->
                                    <input type="password" class="form-control" name="key" [(ngModel)]="user.password" required validateEqual="confirmPassword" reverse="true" #key="ngModel" placeholder="Password">

                                    <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
                                </div>
                            </div>
                            <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                                        Password is required
                                    </small>

                            <div class="input-group">
                                <label>
                                    <a href="#" class="fpwd"> Forgot password </a>
                                </label>
                            </div>
                            <!--<button type="submit" class="btn sub-btn" ng-href="http://google.com/" (click)="login()" (ngSubmit)>Login</button>-->
                            <button type="submit" class="btn sub-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
   
    

</div>

