<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h5 class="white-text">My FCA Rewards</h5>
        <p style="font-size: 12px" class="white-text">This Dashboard is designed to show a summary of your performance in programs in which you are enrolled by your Dealership.
          Click on the individual tile to access the program rules, reports and all other pertinent information. If you have
          questions or need assistance, please contact Program Headquarters at <span><a href="tel:8882672187" style="text-decoration: underline; color:white">P: 888.267.2187</a></span>          or Email to
          <span><a href="mailto:info@myfcarewards.com" style="text-decoration: underline; color:white">info@myfcarewards.com</a></span></p>
      </div>

      <div class="col-sm-12 col-md-3">
        <h5 class="white-text">FAQ</h5>
        <p style="font-size: 12px" class="white-text">Need help? Click <a href="./content/FAQ" style="text-decoration:underline;color:white;" target="_blank">here</a>          for Frequently Asked Questions.</p>
      </div>
      <div class="extra-links col-sm-12 col-md-4">
        <div class="row">
          <div class="col-sm-12 col-md-4 ">
            <a *ngIf="hideButton" class="white-text footer-logo" (click)='checkDealerToken(); openFooterSSOSite("https://fcarewardredemption.com/he_singlesignon/login/login?token=")'
              target="_blank" title="Reward Redemption">
            <img class="footer-logo-img" src="services/loadrsc/MyRewards.jpg" alt="Reward Redemption" /></a>

            <a *ngIf="!hideButton" class="white-text footer-logo pointer" (click)='checkDealerToken(); openFooterSSOSite("https://fcarewardredemption.com/he_singlesignon/login/login?token=")'
              target="_blank" title="Reward Redemption">
            <img class="footer-logo-img" src="services/loadrsc/MyRewards.jpg" alt="Reward Redemption" /></a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="white-text footer-logo" href="https://www.rewardingexcellence.com/" target="_blank" alt="Rewarding Excellence">
            <img class="footer-logo-img" src="services/loadrsc/RewardExcellence.jpg" title="Rewarding Excellence" /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <a *ngIf="hideButton" class="white-text footer-logo" (click)='checkDealerToken(); openFooterSSOSite("https://test.myfcarewards.com/mser2/login?token=")'
              target="_blank" title="MSER Payout Chart">
            <img class="footer-logo-img" src="services/loadrsc/PayoutChart.jpg" alt="MSER Payout Chart" /></a>

            <a *ngIf="!hideButton" class="white-text footer-logo pointer" (click)='checkDealerToken(); openFooterSSOSite("https://test.myfcarewards.com/mser2/login?token=")'
              target="_blank" title="MSER Payout Chart">              
            <img class="footer-logo-img" src="services/loadrsc/PayoutChart.jpg" alt="MSER Payout Chart" /></a>
          </div>

          <div class="col-sm-12 col-md-4">
            <a class="white-text footer-logo" href="https://www.dealers-mopar.com/moparone/credentials/fca-dealer-connect-sso.jsp" target="_blank"
              title="Dealers-MOPAR.com"><img class="footer-logo-img" src= "services/loadrsc/DealerSite.jpg"
              alt="Dealers-MOPAR.com" /></a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright white-text">
    <div class="container footerCopyright">
      &copy; 2017 FCA US LLC. All Rights Reserved. Chrysler, Dodge, Jeep, Ram, Mopar and SRT are registered trademarks of FCA US
      LLC.
      <br> &emsp; ALFA ROMEO and FIAT are registered trademarks of Fiat Group Marketing S.p.A., used with permission.
      <span class="glyphicon glyphicon-envelope"></span>
    </div>
  </div>
</footer>

<style>
  .fix {
    position: fixed;
    bottom: 8px;
    left: 88%;
    z-index: 20000;
  }

  .footer-logo {
    padding: 10px 20px;
  }

  .footer-logo-img {
    padding: 10px
  }

  .right-logo-img {
    padding: 0px
  }

  .pointer {
    cursor: pointer
  }
</style>
<!--<img src="assets/images/footer/chat.png" class="fix" />-->