<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Welcome, {{data.name}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<p>The FCA Rewards Dashbaord is a here to provide you with quick to review information of all your vital sales data.</p>
    <p>Use the <a class="" href="#modal1"><i class="material-icons .md-14 ">info_outline</i></a> whenever you want to reference
      this menu again.</p>-->
    <p>The FCA Rewards Dashboard is here to provide you with a quick review of all information vital to your sales data</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat pointer-modal" (click)="c('Close click')">Get Started!</a>
    <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
  </div>
</template>
<template #statisticModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Data Table </h4>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="button" onclick="tableToExcel('dataTable', 'W3C Example Table')" value="Export to Excel" style="cursor:pointer">
    <datatable id="dataTable" [tableData]="statisticModelData"></datatable>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat" (click)="c('Close click')">Ok</a>
    <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
  </div>
</template>

<template #topModel let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <!--<h4 class="modal-title">{{tableData.advisorsTableName}}</h4>-->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab *ngFor="let tableDataObj of tableData" title={{tableDataObj.tabName}}>
        <template ngbTabContent>
          <h4>{{tableDataObj.tableName}}</h4>
          <input type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel" style="cursor:pointer">
          <table id="testTable" class="table table-hover table-striped bdt">
            <thead>
              <tr>
                <th *ngFor="let thead of tableDataObj.tableHeader"><span class="sort-element">{{thead}}</span><span class="sort-icon fa"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr style="display: table-row;" *ngFor="let tdata of tableDataObj.data">
                <td *ngFor="let tdData of tdata">{{tdData}}</td>
              </tr>
            </tbody>
          </table>

        </template>
      </ngb-tab>

    </ngb-tabset>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>
<template ngbModalContainer></template>

<section id="intro" class="intro-section">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  <div class="container">
    <!--- Row START -->
    <div *ngFor="let rowarray of tilesArray" class="row">
      <div class="col-sm card" *ngFor="let tile of rowarray">
        <div class="image-frame">{{tile.tileName}}<img src="services/loadrsc?id={{tile.tileHeaderImage}}"> </div>
        <!--<div class="image-frame">{{tile.tileName}}<img src="app/resources/images/body/{{tile.tileHeaderImage}}"> </div>-->
        <div class="card-content" *ngIf="tile.type == 'chart'">
          <!--<chart [options]="getChartJSONObject(tile.attributes)"></chart>-->
          <chart (drillup)="drillUp($event.originalEvent,$event.context,tile.id)" (drilldown)="drillDown($event.originalEvent,$event.context,tile.id)"
            (load)="saveChartInstance($event.context,tile.id)" [options]="contentBody[tile.id]" style="min-width: 450px; max-width: 605px; min-height: 450px; max-height: 605px; margin: 0 auto"></chart>
          <span *ngIf="showPieButton[tile.id]" class="button-nav">
        <!--<button  id="button" (click)="chartSwitchNAT(tile.id)">NAT</button>-->
       &nbsp; <button id="button " style="margin-left:3.5px " class="customer_btn" *ngFor = "let buttonName of pieButtons[tile.id] "  (click)="chartSwitch(buttonName,tile.id)">{{buttonName}}</button>
      
      </span>
          <!--<p *ngIf='errorInArray(contentBody[tile.id].data)'>
            <span style="color: red">Sorry Data is not available</span></p>-->

        </div>

        <div class="display-data-set " *ngIf="tile.type=='tile' ">
          <ul class="list-group " *ngFor="let tdata of contentBody[tile.id].top3 ">
            <h4>{{tdata.tableName}}</h4>
            <li class="list-group-item " *ngFor="let data of tdata.data ">
              <span class="item-title ">{{data[0]}}</span>
              <span class="badge ">{{data[1]}}</span>
            </li>

          </ul>
          <p *ngIf='(errorInArray(contentBody[tile.id].attribute)) 
          && (errorInObject(contentBody[tile.id].top10_advisors)) 
          && (errorInObject(contentBody[tile.id].top10_technicians)) 
          && (errorInArray(contentBody[tile.id].top3))' style="text-align: center;">
            No data to display. Please visit Program Rules below for more information on earning.</p>

          <div class="data-group " *ngFor="let data of contentBody[tile.id].attribute ">
            <p class="data-point " *ngIf="emptyBadge(data.badgeUrl) ">{{data.value}}</p>
            <p class="data-substitle " *ngIf="emptyBadge(data.badgeUrl) ">{{data.name}}</p>
            <p class="data-substitle " *ngIf="notEmptyBadge(data.badgeUrl) "><img src="services/loadrsc?id={{data.badgeUrl}} "></p>
            <p class="data-substitle ">{{data.badgeTitle}}</p>
          </div>

        </div>
        <button type="button " class="btn btn-info btn-lg " *ngIf="tile.type=='tile' && notEmpty(contentBody[tile.id].top10_advisors)
              " (click)="openDataTable(contentBody[tile.id].top10_advisors) " style="cursor:pointer"><i class="fa fa-star " aria-hidden="true "></i>{{contentBody[tile.id].top10_advisors.buttonName}}</button><br>
        <button type="button " class="btn btn-info btn-lg " *ngIf="tile.type=='tile' && notEmpty(contentBody[tile.id].top10_technicians) "
          (click)="openDataTable(contentBody[tile.id].top10_technicians) " style="cursor:pointer"><i class="fa fa-star " aria-hidden="true "></i>{{contentBody[tile.id].top10_technicians.buttonName}}</button>
        <div style="margin-bottom: 45; margin-top: -80" class="chart-controls " *ngIf="tile.type=='chart' && chartType(tile.id) ">
          <a  (click)="chartChange( 'pie',tile.id) " alt="View Pie Chart "><i  class="fa fa-pie-chart " aria-hidden="true " style="cursor:pointer"></i></a>
          <a  (click)="chartChange( 'column',tile.id) " alt="View Column Chart "><i  class="fa fa-bar-chart
              " aria-hidden="true " style="cursor:pointer"></i></a>
        </div>

        <!--<div class="card-action " *ngIf="tile.type=='tile' ">-->
        <div class="card-action ">
          <button *ngIf="isEmpty(tile.programRulesUrl)" type="button " class="btn btn-primary btn-sm " style="cursor:pointer" 
          (click)="openProgramSite(tile.programRulesUrl)"><i class="fa fa-check-square " aria-hidden="true "></i>
                {{tile.programRules}} </button>
          <button *ngIf="isEmpty(tile.programSiteUrl)" type="button " class="btn btn-primary btn-sm " style="cursor:pointer"
          (click)="openProgramSite(tile.programSiteUrl)"><i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
                {{tile.programSite}} </button>

          <!--<a *ngIf="isEmpty(tile.programRulesUrl)" class="btn btn-primary btn-sm " style="cursor:pointer" href="{{tile.programRulesUrl}}"
            target="_blank"><i class="fa fa-check-square " aria-hidden="true "></i>
                {{tile.programRules}}</a>

          <a *ngIf="isEmpty(tile.programSiteUrl)" type="button " class="btn btn-primary btn-sm " style="cursor:pointer" href="{{tile.programSiteUrl}}"
            target="_blank"><i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
                {{tile.programSite}} </a>-->
        </div>
      </div>
    </div>
    <!--- Row END -->


  </div>

</section>




<style>
  .customer_btn {
    color: black;
    background-color: #e6f2ff;
    border-color: #01549b;
    MARGIN-BOTTOM: 4;
  }
</style>