<template #contactModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <h4>Contact US</h4>
        <div class="contact-block">
            <a href="mailto:sales@imperialm.com">sales@imperialm.com</a>
        </div>

        <div class="contact-block">
            <p>P: 248.353.0950</p>
            <p>F: 248.353.3309</p>
        </div>

        <div class="contact-block">
            <p>21238 Bridge Street</p>
            <p>Southfield, MI</p>
            <p>48033</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat" (click)="c('Close click')">Ok</a>
        <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
    </div>
</template>
<template #positioncodeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <position-code></position-code>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat" (click)="c('Close click')">Ok</a>
        <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
    </div>
</template>


<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " role="navigation">
    <div class="container">
        <a href="#" class="brand-logo"><img src="app/resources/images/header-carousel/FCA-mast-logo.jpg" /></a>
        <div class="navbar-header">
            <ul class="nav">
                <li class="nav-item ">
                    <!--Welcome, <a class="utility-nav active" href="#">Mr. {{data.name}} </a>-->
                    Welcome, <a class="utility-nav active">{{data.name}} ({{data.positionCode[0]}})</a>
                </li>
                <li class="nav-item ">
                    <!--Welcome, <a class="utility-nav active" href="#">Mr. {{data.name}} </a>-->
                    <a *ngIf="poscodes.length>1 || delcodes.length>1" class="utility-nav active " (click)="dropdownPositionCode()" style="cursor:pointer">
                        <span><img src = "../../../app/resources/images/retweet.png"  alt="Retweet"  width="25" height="25"></span></a>
                </li>
                <li class="nav-item">
                    <!--<a *ngIf="booleanAdmin" class="utility-nav active" (click)="admin()">Admin </a>-->
                    <a *ngIf="booleanAdmin" class="utility-nav active" (click)="admin()" style="cursor:pointer">Admin </a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav" (click)="contactUs()" style="cursor:pointer">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav" style="cursor:pointer">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav disabled" (click)="logout()" style="cursor:pointer">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>
