

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " role="navigation">
    <div class="container">
        <a href="#" class="brand-logo"><img src="app/resources/images/header-carousel/FCA-mast-logo.jpg" /></a>
        <div class="navbar-header">
            <ul class="nav">
                <li class="nav-item ">
                    <!--Welcome, <a class="utility-nav active" href="#">Mr. {{data.name}} </a>-->
                    Welcome, <a class="utility-nav active" href="#">Mr. {{data.name}} </a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav active" href="/admin">Admin </a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="utility-nav disabled" href="/imiservices">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>
