<!-- Header  -->

<div class="container" [hidden]="log">

    <div class="col-md-12 headerarea">
        <div class="col-md-3 col-sm-3 logo">
            <img src="app/resources/images/login/login_logo.png" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-9">
            <h2 class="headerarea">Welcome to <span>DealerCONNECT</span></h2>
        </div>

    </div>

</div>

<!-- Navigation -->
<div class="container">
    <p style="color:#fff;font-size: 11px;"> Access to FCA US LLC's computer systems is controlled. UNAUTHORIZED ACCESS OR USE IS PROHIBITED. Authorized users are hereby informed that FCA US LLC management may monitor this use and ensure compliance. FCA US LLC may terminate access privileges, take DISCIPLINARY ACTION and/or institute civil or criminal proceedings to enforce this policy.</p>
    <nav class="navbar navbar-default navbar-inverse " role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav list-inline">
                <li>
                    <a href="#"><i class="glyphicon glyphicon-play"></i>&nbsp;&nbsp;Help with Password or Access</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-play"></i>&nbsp;&nbsp;Site Status</a>
                </li>

                <li>
                    <a href="#"><i class="glyphicon glyphicon-play"></i>&nbsp;&nbsp;Dealer Help Desk / Maintenance</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-play"></i>&nbsp;&nbsp;Terms of Use </a>
                </li>

            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </nav>
</div>
<div class="container">
    <div class="col-md-6 ">
        <div class="row">
            <div class="panel panel-info panel-login">
                <div class="panel-body">
                    <form #f="ngForm" novalidate (ngSubmit)=" f.valid && login()">
                        <div id="loginbox" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                            <div class="form-textbox">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required minlength="5" maxlength="8" #username="ngModel" placeholder="User ID">
                                    <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->
                                </div>
                            </div>
                            <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
                                        Username is required (minimum 5 characters).
                                    </small>
                            <div class="form-textbox">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required validateEqual="confirmPassword" reverse="true" #password="ngModel" placeholder="Password">

                                    <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
                                </div>
                            </div>
                            <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                                        Password is required
                                    </small>

                            <div class="input-group">
                                <label>
                                    <a href="#" class="fpwd"> Forgot password </a>
                                </label>
                            </div>
                            <!--<button type="submit" class="btn sub-btn" ng-href="http://google.com/" (click)="login()" (ngSubmit)>Login</button>-->
                            <button type="submit" class="btn sub-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <img src="./app/resources/images/login/ChryslerImg4.jpg" width="90%" class="img-responsive center-block" />
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style=" padding: 0px !important;">

                    <ul class="list-inline">
                        <li><img src="./app/resources/images/login/FCA_Pantone.png" class="img-responsive center-block"></li>
                        <li><img src="./app/resources/images/login/AW_Digital Version.png" class="img-responsive center-block"></li>
                        <li style="padding-top: 10px;"><img src="./app/resources/images/login/Chry3DGray.png" class="img-responsive center-block"></li>
                        <li style="padding-top: 10px;"><img src="./app/resources/images/login/DODGE_3D_485.png" class="img-responsive center-block"></li>
                        <li><img src="./app/resources/images/login/FIAT_500_LOCKUP_VERT_RGB.png" class="img-responsive center-block"></li>
                        <li style="padding-top: 10px;"><img src="./app/resources/images/login/Jeep_3D.png" class="img-responsive center-block"></li>
                        <li><img src="./app/resources/images/login/MOPAR_3D.png" class="img-responsive center-block"></li>
                        <li><img src="./app/resources/images/login/RAM_3D_Blk_Vert.png" class="img-responsive center-block"></li>
                        <li><img src="./app/resources/images/login/MVP USA.png" class="img-responsive center-block"></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-9 text-center">
                <p style="color:#fff;font-size: 11px;">&copy; 2016 FCA US LLC. All Rights Reserved. Chrysler, Dodge, Jeep, Ram, Mopar and SRT are registered trademarks of FCA US LLC. ALFA ROMEO and FIAT are registered trademarks of FCA Group Marketing S.p.A., used with permission.
                    <a href="#" class="fpwd">Privacy Statement</a></p>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>

</div>

<!-- Page Content -->

<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/login.js"></script>