<!--<ngbd-modal-content>modal....</ngbd-modal-content>-->

<template #content  let-c="close" let-d="dismiss">
  <div class="modal-header"  >
    <h4 class="modal-title">Welcome, Arnold Weber</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The FCA Rewards Dashbaord is a here to provide you with quick to review information of all your vital sales data.</p>
    <p>Use the <a class="" href="#modal1"><i class="material-icons .md-14 ">info_outline</i></a> whenever you want to reference
      this menu again.</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat" (click)="c('Close click')">Get Started!</a>
    <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
  </div>
</template>
<template #topModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{tableData.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ul class="collection" *ngFor="let tdata of tableData.tableData">
      <li class="collection-header">
        <h5>{{tdata.tableName}}</h5>
      </li>
      <li class="collection-item avatar" *ngFor="let data of tdata.data">
        <i class="circle blue"> <span class="white-text-rank">{{data[0]}}</span></i>
        <span class="title">{{data[1]}}</span>
        <a href="#!" class="secondary-content">{{data[2]}}</a>
      </li>
    </ul>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>
<template ngbModalContainer></template>

<section id="intro" class="intro-section">
  <div class="container">
    <!--- Row START -->
    <div *ngFor="let rowarray of tilesArray" class="row">
      <div class="col-sm card" *ngFor="let tile of rowarray">
        <div class="image-frame">{{tile.tileName}}<img src="services/loadrsc?id={{tile.tileHeaderImage}}"> </div>
        <!--<div class="image-frame">{{tile.tileName}}<img src="app/resources/images/body/{{tile.tileHeaderImage}}"> </div>-->
        <div class="card-content" *ngIf="tile.type == 'chart'">
          <!--<chart [options]="getChartJSONObject(tile.attributes)"></chart>-->
          <chart (load)="saveChartInstance($event.context,tile.id)" [options]="contentBody[tile.id]" style="min-width: 425px; max-width: 600px; margin: 0 auto"></chart>
</div>

<div class="display-data-set" *ngIf="tile.type == 'tile'">
  <div class="display-data-set" *ngIf="tile.type == 'tile' && isTopThree(contentBody[tile.id])">
    <ul class="list-group" *ngFor="let tdata of contentBody[tile.id].datatable.tableData">
      <h4>{{tdata.tableName}}</h4>
      <li class="list-group-item" *ngFor="let data of tdata.data">
        <span class="item-title">{{data[0]}}</span>
        <span class="badge">{{data[1]}}</span>
      </li>
    </ul>
  </div>

  <div class="data-group" *ngFor="let data of contentBody[tile.id].attribute">
    <p class="data-point">{{data.value}}</p>
    <p class="data-substitle">{{data.name}}</p>
  </div>

</div>
<button type="button" class="btn btn-info btn-lg" *ngIf="tile.type == 'tile' && notEmpty(contentBody[tile.id])" (click)="openDataTable(contentBody[tile.id].datatable)"><i class="fa fa-star" aria-hidden="true"></i>{{contentBody[tile.id].datatable.buttonName}}</button>
<div class="chart-controls" *ngIf="tile.type == 'chart' && chartType(contentBody[tile.id])">
  <a (click)="chartChange('pie',tile.id)" alt="View Pie Chart"><i class="fa fa-pie-chart" aria-hidden="true"></i>
</a>
  <a (click)="chartChange('column',tile.id)" alt="View Column Chart"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
</div>

<div class="card-action" *ngIf="tile.type == 'tile'">
  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-check-square" aria-hidden="true"></i>
                {{tile.programRules}}</button>
  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                {{tile.programSite}}</button>
</div>
</div>
</div>
<!--- Row END -->


</div>
</section>

<style>
  .my-btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  transition: background-color .2s;
}
.my-btn-flat:focus, .btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.my-btn-flat:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.my-btn-flat.disabled {
  background-color: transparent !important;
  color: #b3b3b3 !important;
  cursor: default;
}


</style>