.datatable .modal-dialog{
    margin: 30px auto;
    max-width: none;
    width: 98%;
}

.contact-us .modal-dialog{
    margin: 30px auto;
    max-width: none;
    max-height: none;
    width: 30%;
    height: 20%;
}