.datatable .modal-dialog{
    margin: 30px auto;
    max-width: none;
    width: 98%;
}

.contact-us .modal-dialog{
    margin: 30px auto;
    max-width: none;
    max-height: none;
    width: 30%;
    height: 20%;
}

.modal-ok{
    cursor: pointer;
}

.cust-f-btn{
color: #000000; 
     background-color: #e6f3ff; 
     border-color: #0275d8; 
}