<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " role="navigation">
    <div class="container">
        <a class="brand-logo" href="#"><img src="services/loadrsc/FCALogo_and_MyRewards.jpg"></a>
        <div class="navbar-header">
        </div>
    </div>
</nav>
<section class="intro-section" id="intro" [hidden]="hideLoginPage"> 
    <div class="container"> 
        <div class="row login">
            <div class="col-sm card login-frame">
                <div class="heading-line">
                    <h4 style="color:black;">Please enter your SID/TID and Email address to reset password</h4><br/>
                </div>
                <form class="pageForm" #f="ngForm" novalidate (ngSubmit)="login()">
                    <p style="color: red; margin-bottom: auto; margin-left: 205;">{{loginFailed}} <br> {{loginErrorMessage}}</p>
                    <label><b>SID/TID: *</b></label>
                    <input id="username" pattern="[A-Z]{3}[0-9]{4}" type="text" name="username" [(ngModel)]="resetpassword.sid_tid" #username="ngModel"
                        placeholder="">
                    <br>
                    <label><b>Email Id: *</b></label>
                    <input id="password" pattern="[A-Z]{3}[0-9]{4}" type="password" name="password" [(ngModel)]="resetpassword.emailId" #password="ngModel"
                        placeholder=""><br/>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateProgramsModal" style=" margin-bottom: auto; margin-left: 205; margin-top: 5;" (click)="cancel()">Cancel</button>     
                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateProgramsModal" style=" margin-bottom: auto; margin-left: 205; margin-top: 5;">Enter</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--<div style="display: flex; justify-content: center;" [hidden]="!hideLoginPage">
    <img class="refreshGlyphImg" src="assets/images/spinner/spinner.gif" />
</div>-->