<!--<my-app>-->
<!--<ng-component>-->
<title>MyFcaDashboard </title>
<!--<app-header>-->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " role="navigation">
    <div class="container">
        <a class="brand-logo" href="#"><img src="app/resources/images/header-carousel/FCA-mast-logo.jpg"></a>
        <div class="navbar-header">
        </div>
    </div>
</nav>
<!--</app-header>-->
<!--<app-banner>-->
<section class="intro-section" id="intro">
    <div class="container">
        <div class="row login">
            <div class="col-sm card login-frame">
                <div class="heading-line">
                    <h2>Welcome!</h2><br/>
                    <!--<h4>Please enter your SID/TID and Password</h4>-->
                </div>
                <form class="pageForm" #f="ngForm" novalidate (ngSubmit)="login()">
                    <p style="color: red; margin-bottom: auto; margin-left: 205;">{{loginFailed}} <br> {{loginErrorMessage}}</p>
                    <label><b>SID/TID*</b></label>
                    <input id="username" pattern="[A-Z]{3}[0-9]{4}" type="text" name="username" [(ngModel)]="user.username" #username="ngModel"
                        placeholder="">
                    <br>
                    <label><b>Password*</b></label>
                    <input id="password" pattern="[A-Z]{3}[0-9]{4}" type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
                        placeholder=""><br/>
                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateProgramsModal" style=" margin-bottom: auto; margin-left: 205; margin-top: 5;">Enter</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- </app-banner>-->
<!--</ng-component>-->
<!--</my-app>-->