<div class="container">
    <h2 id="myfca">Welcome to the login page of <span style="font-weight:bold">MyFCADashboard!</span></h2>
    <form #f="ngForm" novalidate (ngSubmit)="login()">
        <div id="loginbox" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <div class="form-textbox">
                <p style="color: red; margin-bottom: auto; margin-left: auto;">{{loginFailed}} <br> {{loginErrorMessage}}</p>
                <div>
                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="User ID">
                </div>
            </div>
            <div class="form-textbox">
                <div>
                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn sub-btn">Login</button>
        </div>
    </form>
</div>

<style>
    #myfca {
        color: #7cb5ec;
        cursor: pointer;
    }
</style>