body {
	margin: 0;
	padding: 0;
	font-family: 'source-sans-pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
html, body {
	height: 100%;
}
@media (min-width:992px) {
}
@media (max-width:992px) {
}
#push.pin-top {
	position:relative;
	top: 0;
	width: 100%;
	height: 100%;
}
section.pin-top {
	position: fixed;
	width: 100%;
	z-index:99;
}
section.pinned {
	display:none;
	z-index:1;
}
#push.pinned {
	position: static;
	width: 100%;
	display:none;
}
section {
	height: 100%;
	width: 100%;
	min-height: 100%;
	position: fixed;
	top:0;
}
#push {
	position:relative;
	height: 100%;
}
#main {
	margin-top:100px;
	background-color:#f1f1f1;
	position:relative;
	z-index:990;
}
.demo_wrapper {
	width: 100%;
	position:relative;/* float:left; */
}
@media only screen and (max-device-width: 800px), screen and (max-width: 800px) {
 .demo_wrapper {
 width: 100%;
}
}
.demo_block {
	width: 100%;
}
