
<template >
  
</template>

<section id="intro" class="intro-section">
    <div class="container">
        <h1>This is Admin Page</h1>
        <p>Admin Para 1....</p>
        <p>Admin Para 2....</p>
        <h1>This is Admin Page</h1>
        <p>Admin Para 1....</p>
        <p>Admin Para 2....</p>
        <h1>This is Admin Page</h1>
        <p>Admin Para 1....</p>
        <p>Admin Para 2....</p>
        <h1>This is Admin Page</h1>
        <p>Admin Para 1....</p>
        <p>Admin Para 2....</p>
        <h1>This is Admin Page</h1>
        <p>Admin Para 1....</p>
        <p>Admin Para 2....</p>

    </div>
</section>