<section id="admin" class="admin-section">
    <div class="container admin-container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate >
                <div class="row">

                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Admin</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3>Amend By</h3>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="clickSuccessMessage">
                        <div class='alert alert-success col-md-12'>
                            <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
                            {{clickSuccessMessage}}
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-sm-12 col-md-6">

                            <div class="box">
                                <h4>Individual</h4>
                                <label>Enter SID/TID</label>
                                <input type="text" name="admin.sid" class="form-control" [(ngModel)]="sid" (blur)="onBlurMethod(this)" required #name="ngModel" />
                                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                <div [hidden]="!name.errors.required">
                                    SID/TID is required
                                </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-sm-12 col-md-6">
                            <div class="box">
                                <h4>Group</h4>
                                <label>Position Code</label>
                                <!--<select class="form-control"name="group" [(ngModel)]="group">
                                    <option value="0">Select Group</option>
                                    <option value="1">Group 1</option>
                                    <option value="2">Group 2</option>
                                </select>-->
                                <select  class="form-control" name="group" id="group" [(ngModel)]="selectGroup">
                                    <option *ngFor="let item of group" [ngValue]="item"
                                    >{{item.label}}</option>
                                </select>
                            </div>
                        </div>

                    <!--</div>-->
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <hr />
                        </div>
                    </div>
                    <!--<div class="row">-->
                        <div class="col-sm-12 col-md-6">
                            <div class="box">
                               <h4>Choose View</h4>
                            <!--<select class="form-control" name="role" [(ngModel)]="role">
                                <option value="1">Executive</option>
                                <option value="2">BC</option>
                                <option value="3">District</option>
                                <option value="4">Dealer</option>
                                <option value="5">Manager</option>
                                <option value="6">Participant</option>
                            </select>-->
                                <label>Role</label>
                                <select  class="form-control" name="role" id="role" [(ngModel)]="selectRole">
                                    <option *ngFor="let item of role" [ngValue]="item"
                                    >{{item.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div *ngFor="let acdata of accordionData" class="accNav">                            
                            <div ngbPanelTitle class="headerElement header{{acdata.order}}">
                                <div class="row">
                                    <div class="col-sm-10 col-md-10">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="header{{acdata.order}}"  class="header"  name="header{{acdata.order}}"  [(ngModel)]="headerOpt[acdata.order]" (click)="toggleAll($event);" /> 
                                            <label for="header{{acdata.order}}">{{acdata.accordionTitle}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <a  class="accordion-control acc collapsed" id="card-block{{acdata.order}}" (click)="onClick($event)">
                                            +
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="AccContent content card-block{{acdata.order}}">
                                <div class="card-block{{acdata.order}}" >
                                    <div class="row"*ngFor="let chapter of acdata.data;">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="checkbox checkbox-primary">
                                                <input id="{{chapter.name}}" value="{{acdata.order}}"  [(ngModel)]="opt[chapter.name]" type="checkbox" name="{{chapter.name}}" >
                                                <label for="{{chapter.name}}">{{chapter.title}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="text-center">
                                <div class="btn-row">
                                    <button class="btn btn-sm btn-primary" (click)="OnSave($event);">Save</button>
                                    <button class="btn btn-sm btn-default" (click)="OnCancel($event, form);" >Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="admin-right-col">
                        <h4>Instructions</h4>
                        <p>
                            A. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>



    <!--Cancel Modal Popup-->
<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Welcome, Arnold Weber</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The FCA Rewards Dashbaord is a here to provide you with quick to review information of all your vital sales data.</p>
    <p>Use the <a class="" href="#modal1"><i class="material-icons .md-14 ">info_outline</i></a> whenever you want to reference
      this menu again.</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat" (click)="c('Close click')">Get Started!</a>
    <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
  </div>
</template>
