<section id="admin" class="admin-section">
    <div class="container admin-container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate >
                <div class="row">

                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Admin</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3>Amend By</h3>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="clickSuccessMessage">
                        <div class='alert alert-success col-md-12'>
                            <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
                            {{clickSuccessMessage}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">

                            <div class="box">
                                <h4>Individual</h4>
                                <label>Enter SID/TID</label>
                                <input type="text" name="admin.sid" class="form-control" [(ngModel)]="sid" (blur)="onBlurMethod(this)" required #name="ngModel" />
                                <!--Validation-->
                                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                <div [hidden]="!name.errors.required">
                                    SID/TID is required
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="box">
                                <h4>Group</h4>
                                <label>Position Code</label>
                                <select class="form-control"name="group" [(ngModel)]="group">
                                    <option value="0">Select Group</option>
                                    <option value="1">Group 1</option>
                                    <option value="2">Group 2</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h3>Choose view</h3>
                            <select class="form-control" name="role" [(ngModel)]="role">
                                <option value="1">Executive</option>
                                <option value="2">BC</option>
                                <option value="3">District</option>
                                <option value="4">Dealer</option>
                                <option value="5">Manager</option>
                                <option value="6">Participant</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row" *ngIf="edited">
                        <!--<div *ngFor="let acdata of accordionData" class="accNav">
                            <ngb-accordion #acc="ngbAccordion"[closeOthers]="false" activeIds="{{acdata.order}}">
                            
                                <div>
                                    <ngb-panel>
                                        <template ngbPanelTitle class="accrodionHeader">
                                            <input type="checkbox" name="admin.titleVal" (click)="onClickEvent($event);" [checked]="toggle" (change)="toggleAll()" /> {{acdata.accordionTitle}}
                                            <input type="checkbox" id="header{{acdata.order}}" class="header" value="{{acdata.order}}" name="admin.titleVal" (click)="onClickEvent($event); toggleAll($event);" [checked]="toggle" /> {{acdata.accordionTitle}}
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" id="header{{acdata.order}}" class="header" value="{{acdata.order}}" name="admin.titleVal" (click)="onClickEvent($event); toggleAll($event);" [checked]="toggle" /> {{acdata.accordionTitle}}
                                                <label for="mser">MSER</label>
                                            </div>
                                        </template>
                                        <template ngbPanelContent>
                                            <div class="card-block{{acdata.order}}">
                                                <div class="row"*ngFor="let chapter of acdata.data">
                                                    <div class="col-sm-12 col-md-6">
                                                            <input id="{{chapter.name}}" value="{{acdata.order}}" type="checkbox" name="admin{{acdata.order}}" (change)="uncheckParent($event)" >
                                                            <label for="{{chapter.name}}">{{chapter.title}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </ngb-panel>
                                </div>
                            
                            </ngb-accordion>
                        </div>-->
                        <div class="accNav">
                            <ngb-accordion #acc="ngbAccordion"[closeOthers]="false" activeIds="1">
                                <ngb-panel>
                                    <template ngbPanelTitle class="accrodionHeader">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10">
                                                <div class="checkbox checkbox-primary" (click)="onClickEvent($event)">
                                                    <input type="checkbox" id="header1"  class="header" value="1" name="admin.titleVal" (click)="onClickEvent($event); toggleAll($event);" [checked]="toggle" /> 
                                                    <label for="mser">MSER</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-control">
                                                    +
                                                </a>

                                            </div>
                                        </div>
                                    </template>
                                    <template ngbPanelContent>
                                        <div class="card-block1">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt1" value="1"   type="checkbox" name="admin1" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt1">Total Dealers Enrolled</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt2" value="1"  type="checkbox" name="admin1" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt2">Excellence Cards Awards MTD</label>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt3" value="1"  type="checkbox" name="admin1" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt3">Excellence Cards Awards YTD</label>
                                                    </div>
                                                </div>
                                                
                                            </div>                                                
                                        </div>
                                    </template>
                                </ngb-panel>                                
                            
                            </ngb-accordion>




                            <!--<ngb-accordion #acc="ngbAccordion"[closeOthers]="false" activeIds="2">
                                <ngb-panel>
                                    <template ngbPanelTitle class="accrodionHeader">
                                        <div class="row">
                                            <div class="col-sm-10 col-md-10" (click)="onClickEvent($event);">
                                                <div class="checkbox checkbox-primary" >
                                                    <input type="checkbox" id="header2"  class="header" value="2" name="admin.titleVal" (click)="onClickEvent($event); toggleAll($event);" [checked]="toggle" /> 
                                                    <label for="mser">MSER Graph</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="accordion-control collapsed">
                                                    +
                                                </a>

                                            </div>
                                        </div>
                                    </template>
                                    <template ngbPanelContent>
                                        <div class="card-block2">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt4" value="2"   type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt4">uConnect</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt5" value="2"   type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt5">wiAdvisor</label>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt6" value="2"  type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt6">Express Lane</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt7" value="2"  type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt7">Parts Counter</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt8" value="2"  type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt8">Magenti Marelli</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt9" value="2"  type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt9">MVP</label>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="mser-opt10" value="2"  type="checkbox" name="admin2" (change)="uncheckParent($event)" >
                                                        <label for="mser-opt10">Mopar Parts</label>
                                                    </div>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </template>
                                </ngb-panel>                                
                            
                            </ngb-accordion>-->
                        </div>
                               
                        <div class="col-md-12">
                            <div class="text-center">
                                <div class="btn-row">
                                    <button class="btn btn-sm btn-primary" (click)="OnSave($event);">Save</button>
                                    <button class="btn btn-sm btn-default" (click)="OnCancel($event, form);" >Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="admin-right-col">
                        <h4>Instructions</h4>
                        <p>
                            A. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>

    <!--Cancel Modal Popup-->
<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Welcome, Arnold Weber</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The FCA Rewards Dashbaord is a here to provide you with quick to review information of all your vital sales data.</p>
    <p>Use the <a class="" href="#modal1"><i class="material-icons .md-14 ">info_outline</i></a> whenever you want to reference
      this menu again.</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-light btn-flat my-btn-flat" (click)="c('Close click')">Get Started!</a>
    <!--<button type="button" class=" modal-action modal-close waves-effect waves-light btn-flat" (click)="c('Close click')">Close</button>-->
  </div>
</template>
