<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <h5 class="white-text">My FCA Rewards</h5>
        <!--<p class="white-text">Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
          nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices
          erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere cubilia Curae.</p>-->
        <p class="white-text">This Dashboard is designed to show a summary of your performance in programs in which you are enrolled by your Dealership.
          Click on the individual tile to access the program rules, reports and all other pertinent information. If you have
          questions or need assistance, please contact Program Headquarters at <span><a href="tel:2483530950" style="text-decoration: underline; color:white">P: 248.353.0950</a></span> or email to
          <span><a href="mailto:customerservice@imperialm.com" style="text-decoration: underline; color:white">customerservice@imperialm.com</a></span> or feel free to Chat! </p>


      </div>
      <div class="extra-links">
        <ul>
          <li><a class="white-text" href="https://www.moparser.com/mser/home.do?a=true" target="_blank"> MSER Payout Chart</a></li>
          <li><a class="white-text" href="https://fcarewardredemption.com/customer/account/login/" target="_blank">Reward Redemption</a></li>
          <li><a class="white-text" href="https://www.rewardingexcellence.com/" target="_blank"> Rewarding Excellence</a></li>
          <li><a class="white-text" href="https://www.dealers-mopar.com/moparone/credentials/fca-dealer-connect-sso.jsp" target="_blank">Dealers-MOPAR.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright white-text">
    <div class="container footerCopyright">
      &copy; 2017 FCA US LLC. All Rights Reserved. Chrysler, Dodge, Jeep, Ram, Mopar and SRT are registered trademarks of FCA US LLC.<br>
        &emsp; ALFA ROMEO and FIAT are registered trademarks of Fiat Group Marketing S.p.A., used with permission.
      <span class="glyphicon glyphicon-envelope"></span>
    </div>
  </div>
</footer>

<style>
  .fix {
    position: fixed;
    bottom: 8px;
    left: 88%;
    z-index: 20000;
  }
</style>
<img src="app/resources/images/footer/chat.png" class="fix" />