<!--<div class="container">
    <form #f="ngForm" novalidate (ngSubmit)="submitSelectedCodes()">
        <div>
            <label></label>
            <div *ngIf="pcode.length>1">
                <p>Select your position code
                    <select [(ngModel)]="code.selectedPositionCode" (change)="selectPositionCode(code.selectedPositionCode)">
                <option *ngFor="let pcode of pcode" [ngValue]="pcode" >{{pcode}} </option>
            </select> You have entered <span>{{code.selectedPositionCode}}</span>
                </p>
            </div>
            <p *ngIf="pcode.length==1">Your Position code: <span *ngFor="let pcode of pcode">{{pcode}}</span> </p>

        </div>
        <div>
            <label></label>
            <div *ngIf="dcode.length>1">
                <p>Select your dealer code
                    <select [(ngModel)]="code.selectedDealerCode" (change)="selectDealerCode(code.selectedDealerCode)">
                <option *ngFor="let dcode of dcode" [ngValue]="dcode" >{{dcode}}</option>
            </select> You have entered <span>{{code.selectedDealerCode}}</span>
                </p>
            </div>
            <p *ngIf="pcode.length==1">Your Dealer code: <span *ngFor="let dcode of dcode">{{dcode}}</span> </p>
        </div>
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
        <button type="reset" class="btn btn-primary btn-md">Cancel</button>
    </form>
</div>-->
<div class="container">
    <form #f="ngForm" novalidate (ngSubmit)="submitSelectedCodes()">
        <div>
            <label></label>
            <div *ngIf="pcode.length>1">
                <p>Select your position code
                    <select [(ngModel)]="code.selectedPositionCode" (change)="selectPositionCode(code.selectedPositionCode)" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let pcode of pcode" [ngValue]="pcode" >{{pcode}} </option>
            </select> 
            <!--You have entered <span>{{code.selectedPositionCode}}</span>-->
                </p>
            </div>
            <!--<p *ngIf="pcode.length==1">Your Position code: <span *ngFor="let pcode of pcode">{{pcode}}</span> </p>-->

        </div>
        <div>
            <label></label> 
            <div *ngIf="dcode.length>1">
                <p>Select your dealer code
                    <select [(ngModel)]="code.selectedDealerCode" (change)="selectDealerCode(code.selectedDealerCode)" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let dcode of dcode" [ngValue]="dcode" >{{dcode}}</option>
            </select> 
            <!--You have entered <span>{{code.selectedDealerCode}}</span>-->
                </p>
            </div>
            <!--<p *ngIf="pcode.length==1">Your Dealer code: <span *ngFor="let dcode of dcode">{{dcode}}</span> </p>-->
        </div>
        <button type="button" (click) = "submitClick()" class="btn btn-primary btn-md">Submit</button>
        <button type="button" (click) = "cancelClick()" class="btn btn-primary btn-md">Cancel</button>
    </form>
</div>