

<div class="row no-gutter">
                <div class="col-xs-12 col-md-6">
                    <div  *ngFor="let tile of colOneArray">
                        <div class="panel panel-default" *ngFor="let tileName of tile.tiles">
                        <div class="panel-heading"><img class="col-xs-4 no-gutter" src="/imiservices/services/loadrsc?id={{tileName.tileHeaderImage}}"><label class="pull-right col-xs-8 text-right no-gutter panel-captcha">{{tileName.tileName}}</label></div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text" *ngFor="let data of tileName.attributes">
                                   <!--<div class="panel-text" *ngFor="let value of data.tileattribute">
                                  -->
                                    <p>{{data.value}}</p>
                                    <!--<p>test {{data.value}}</p>-->
                                   <!--// </div>-->
                                    <h3>{{data.name}}</h3>
                                    
                                </div>
                               
                            </div>
                            <div class="col-xs-6"><img src="/imiservices/services/loadrsc?id={{tileName.tileImage}}" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="{{tileName.tileURL}}">Visit Program Site<span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div  *ngFor="let tile of colTwoArray">
                        <div class="panel panel-default" *ngFor="let tileName of tile.tiles">
                        <div class="panel-heading"><img class="col-xs-4 no-gutter" src="/imiservices/services/loadrsc?id={{tileName.tileHeaderImage}}"><label class="pull-right col-xs-8 text-right no-gutter panel-captcha">{{tileName.tileName}}</label></div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text" *ngFor="let data of tileName.attributes">
                                   <!--<div class="panel-text" *ngFor="let value of data.tileattribute">
                                  -->
                                    <p>{{data.value}}</p>
                                   <!--// </div>-->
                                    <h3>{{data.name}}</h3>
                                    
                                </div>
                               
                            </div>
                            <div class="col-xs-6"><img src="/imiservices/services/loadrsc?id={{tileName.tileImage}}" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="{{tileName.tileURL}}">Visit Program Site{{tile.TileUrlName}}<span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
</div>